:root {
    --danger: #BC4749;
    --danger-hvr: #A43D3E;
    --primary0: #0D1B1E;
    --primary1: #0F2B2C;
    --primary2: #113B3A;
    --primary3: #145A55;
    --primary4: #187A70;
    --primary5: #1B998B;
    --primary6: #44B3A5;
    --primary7: #6DCCBE;
    --primary8: #96E6D8;
    --primary9: #BFFFF1;
    --secondary0: #240B36;
    --secondary1: #361E41;
    --secondary2: #47304B;
    --secondary3: #5B415D;
    --secondary4: #6F526E;
    --secondary5: #977390;
    --secondary6: #B296AD;
    --secondary7: #CCB8C9;
    --secondary8: #E0D1DF;
    --secondary9: #F3EAF4;
    --tertiary0: #122B1D;
    --tertiary1: #183A26;
    --tertiary2: #214E34;
    --tertiary3: #305943;
    --tertiary4: #3F6452;
    --tertiary5: #5E8A77;
    --tertiary6: #7DAF9C;
    --tertiary7: #94BDAE;
    --tertiary8: #ABCBBF;
    --tertiary9: #D9E7E1;
    --neutral0: #202632;
    --neutral1: #2F394B;
    --neutral2: #3A4559;
    --neutral3: #4D5769;
    --neutral4: #636C7C;
    --neutral5: #9096A2;
    --neutral6: #A7ACB5;
    --neutral7: #BDC1C8;
    --neutral8: #D4D6DB;
    --neutral9: #EAEBED;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    background: var(--primary1);
    color: white;
    font-family: 'Signika Negative', Tahoma, Arial, sans-serif;
}

h1 {
    margin: 0;
    margin-bottom: -5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.75rem;
}

h2 {
    margin: 0;
    font-size: 1.25rem;
    font-family: 'Signika Negative', sans-serif;
}

button {
    display: inline-block;
    border: 1px solid var(--primary0);
    padding: 9px 15px;
    border-radius: 4px;
    margin: 0;
    font-family: inherit;
    text-decoration: none;
    background: var(--primary4);
    color: #ffffff;
    font-size: 1rem;
    cursor: default;
    text-align: center;
    transition: background 150ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover {
    background: var(--primary3);
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -2px;
}

button:active {
    transform: scale(0.98);
}

button:disabled {
    background: var(--neutral8);
    border: 1px solid var(--neutral6);
    color: var(--neutral6);
}

input, select {
    width: 100%;
    padding: 5px 10px;
    margin-top: 2px;
    box-sizing: border-box;
    border: 1px solid var(--secondary0);
    border-radius: 5px;
}

:focus:not(:focus-visible) {
    outline: 0;
    box-shadow: none;
}

.button-secondary {
    background: var(--secondary1);
}
.button-secondary:hover {
    background: var(--secondary0);
}

.button-secondary:disabled {
    background: var(--neutral8);
    border: 1px solid var(--neutral6);
    color: var(--neutral6);
}

.page-wrapper {
    display: flex;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-right: 200px;
    margin-bottom: 400px;
    max-width: 1280px;
}
.card-container {
    width: 200px;
    margin: 5px;
    position: relative;
}
.delete-btn {
    background: var(--danger);
    padding: 10px 11px;
    border: 1px solid black;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    top: 25px;
    right: 0;
    display: none;
    cursor: default;
    color: white;
}
.delete-btn:hover {
    background: var(--danger-hvr);
}
.card-container:hover .delete-btn {
    display: inline;
}
.slideout-btn {
    padding: 5px;
    border: 1px solid  var(--secondary0);
    border-radius: 0px 0px 5px 5px;
    cursor: default;
    color: white;
}
.slideout-btn img {
    height: 28px;
    vertical-align: middle;
}
.slideout-btn i {
    padding: 6px;
}
.slideout-btn-closed {
    background: var(--secondary3);
    border-top: 1px solid  var(--secondary0);
}
.slideout-btn-closed:hover {
    background: var(--secondary2);
}
.slideout-btn-open {
    background: var(--secondary4);
    border-top: 1px solid  var(--secondary4);
}
.slideout-btn-open:hover {
    background: var(--secondary4);
}
.slideout {
    background: var(--secondary4);
    color: white;
    z-index: 100;
}
.slideout-closed {
    height: 0;
    transition: height 0.25s ease-out;
}
.slideout-open {
    padding: 20px 10px 0px 10px;
    height: 120px;
    transition: height 0.25s ease-in;
    border-bottom: 1px solid var(--secondary0);
}
.card-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    margin: 3px;
}
.card-image {
    width: 200px;
    height: 280px;
    border-radius: 10px;
    background-image: repeating-linear-gradient(-55deg, var(--neutral4), var(--neutral4) 5px, var(--neutral3) 5px, var(--neutral3) 10px)
}
.card-image-zoom {
    width: 400px;
    position: absolute;
    z-index: 50;
}
.filters {
    position: sticky;
    top: 0;
    padding: 0px 10px;
    background: var(--primary2);
    color: white;
    z-index: 100;
    border-bottom: 1px solid var(--primary0);
}
.row {
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.form-item {
    padding: 0px 5px;
    margin-top: -1px;
}
.input-long {
    width: 500px;
}
.deck-wrapper {
    flex-basis: 300px;
}
.deck-card-container {
    width: 300px;
    height: 40px;
}
.deck-card-image {
    width: 300px;
    position: absolute;
}
.deck-card-image:hover {
    z-index: 50;
}
.danger {
    background: var(--danger);
    border-radius: 0px 0px 5px 5px;
}
.danger:hover {
    background: var(--danger-hvr);
}
.danger:disabled {
    background: var(--neutral8);
    border: 1px solid var(--neutral6);
    color: var(--neutral6);
}