<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="./css/styles.css">
    <!-- Page Header -->
    <title>Magic Format Builder</title>
</head>
<html>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="./js/viewer.js"></script>
    <link rel="stylesheet" href="./css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap" rel="stylesheet">
<body>
    <div ng-app="myApp" ng-controller="myCtrl">
        <!-- Top Slideout Bar -->
        <div class="slideout" ng-class="{'slideout-closed': !slideoutTab, 'slideout-open': slideoutTab}">
            <div class="row">
                <div class="form-item">
                    <h2 ng-show="slideoutTab == uploadTabId">Import Cards from JSON</h2>
                    <h2 ng-show="slideoutTab == addTabId">Add Individual Cards</h2>
                    <h2 ng-show="slideoutTab == scryTabId">Fetch Cards Using Scryfall</h2>
                    <h2 ng-show="slideoutTab == saveTabId">Download Format as JSON</h2>
                </div>
            </div>
            <!-- Uploading Cards from a JSON -->
            <div class="row" ng-show="slideoutTab == uploadTabId">
                <div class="form-item">
                    <label for="json">Upload JSON File</label>
                    <br>
                    <input id="json" type="file" onchange="angular.element(this).scope().uploadFormatJSON(this)">
                </div>
                <div class="form-item">
                    There are {{ jsonCards.length }} cards in this file.
                </div>
                <div class="form-item">
                    <label for="import">Import Options</label>
                    <br>
                    <select id="import" ng-model="importType">
                        <option ng-repeat="x in importOptions" value="{{x.value}}">{{x.display}}</option>
                    </select>
                </div>
                <div class="form-item" ng-show="importType != ''">
                    <label for="number">Number of Cards</label>
                    <br>
                    <input id="number" type="number" ng-model="addNumber">
                </div>
                <div class="form-item">
                    <button ng-click="addJSON()" class="button-secondary" ng-disabled="jsonCards.length <= 0">
                        Add Cards
                    </button>
                </div>
            </div>
            <!-- Adding a Single Card -->
            <div class="row" ng-show="slideoutTab == addTabId">
                <div class="form-item">
                    <label for="addname">Card Name</label>
                    <br>
                    <input placeholder="Type at least 3 letters..." id="addname" list="autolist" ng-model="autoQuery" ng-change="getCardsAutocomplete()" ng-model-options="{ debounce: debounceTime }">
                    <datalist id="autolist">
                        <option ng-repeat="result in autoResults" value="{{result}}">
                       </datalist>
                </div>
                <div class="form-item">
                    <button ng-click="addCard()" class="button-secondary" ng-disabled="autoQuery.length < 3">
                        Add Card
                    </button>
                </div>
            </div>
            <!-- Fetching Cards from Scryfall -->
            <div class="row" ng-show="slideoutTab == scryTabId">
                <div class="form-item">
                    <label for="scryquery">Scryfall Query</label>
                    <br>
                    <input id="scryquery" class="input-long" ng-model="scryQuery.query">
                </div>
                <div class="form-item">
                    <label for="import">Import Options</label>
                    <br>
                    <select id="import" ng-model="scryQuery.isRandom">
                        <option ng-repeat="x in scryImportOptions" value="{{x.value}}">{{x.display}}</option>
                    </select>
                </div>
                <div class="form-item">
                    <label for="scrynum">{{scryQuery.isRandom ? 'Number of Cards' : 'Page Number'}}</label>
                    <br>
                    <input type="number" id="scrynum" ng-model="scryQuery.numCards">
                </div>
                <div class="form-item">
                    <button ng-click="addQueryCards()" class="button-secondary">
                        Add Cards
                    </button>
                </div>
            </div>
            <!-- Downloading the Format -->
            <div class="row" ng-show="slideoutTab == saveTabId">
                <div class="form-item">
                    <label for="filename">Filename</label>
                    <br>
                    <input id="filename" ng-model="filename">
                </div>
                <div class="form-item">
                    <button ng-click="downloadFormatJSON()" class="button-secondary">
                        Download Format
                    </button>
                </div>
            </div>
        </div>
        <!-- Filter Section -->
        <div class="filters">
            <!-- Tabs for Slideout and Title -->
            <div class="row">
                <div class="form-item">
                    <button class="slideout-btn" ng-class="{'slideout-btn-closed': slideoutTab != uploadTabId, 'slideout-btn-open': slideoutTab == uploadTabId}" ng-click="setSlideout(uploadTabId)" title="Add Cards from JSON">
                        <i class="fa fa-upload fa-lg"></i>
                    </button>
                </div>
                <div class="form-item">
                    <button class="slideout-btn" ng-class="{'slideout-btn-closed': slideoutTab != addTabId, 'slideout-btn-open': slideoutTab == addTabId}" ng-click="setSlideout(addTabId)" title="Add a Card">
                        <i class="fa fa-plus fa-lg"></i>
                    </button>
                </div>
                <div class="form-item">
                    <button class="slideout-btn" ng-class="{'slideout-btn-closed': slideoutTab != scryTabId, 'slideout-btn-open': slideoutTab == scryTabId}" ng-click="setSlideout(scryTabId)" title="Add Cards from Scryfall Search">
                        <img src="assets/img/scryfall-logo.svg" alt="Scryfall" class="logo" width="100%" height="100%" viewBox="0 0 460 460" preserveAspectRatio="xMaxYMax">
                    </button>
                </div>
                <div class="form-item">
                    <button class="slideout-btn" ng-class="{'slideout-btn-closed': slideoutTab != saveTabId, 'slideout-btn-open': slideoutTab == saveTabId}" ng-click="setSlideout(saveTabId)" title="Save as JSON">
                        <i class="fa fa-download fa-lg"></i>
                    </button>
                </div>
                <!-- Page Header -->
                <div class="form-item">
                    <h1>
                        Magic Format Builder
                    </h1>
                </div>
                <!-- Edit Toggle -->
                <div class="form-item">
                    <label for="edit">Edit Format</label>
                    <br>
                    <input type="checkbox" id="edit" ng-model="isEditing">
                </div>
                <!-- Clear Button -->
                <div class="form-item">
                    <button class="danger" ng-click="clear()" ng-disabled="!isEditing">
                        Clear Format
                    </button>
                </div>
            </div>
            <!-- Filters -->
            <div class="row">
                <div class="form-item">
                    <label for="cardname">Card Name</label>
                    <br>
                    <input placeholder="Search name" id="cardname" ng-model="search.name" ng-change="resetPage()" ng-model-options="{ debounce: debounceTime }">
                </div>
                <div class="form-item">
                    <label for="type">Type</label>
                    <br>
                    <input id="type" placeholder="Search type" ng-model="search.type_line" ng-change="resetPage()" ng-model-options="{ debounce: debounceTime }">
                </div>
                <div class="form-item">
                    <label for="cmc">Mana Value (CMC)</label>
                    <br>
                    <input type="number" placeholder="Search mana value" id="cmc" ng-model="search.cmc" ng-change="resetPage()" ng-model-options="{ debounce: debounceTime }">
                </div>
                <div class="form-item">
                    <label for="manacost">Mana Cost</label>
                    <br>
                    <input id="manacost" placeholder="Search mana cost" ng-model="search.mana_cost" ng-change="resetPage()" ng-model-options="{ debounce: debounceTime }">
                </div>
                <div class="form-item">
                    <label for="artist">Artist</label>
                    <br>
                    <input id="artist" placeholder="Search artist" ng-model="search.artist" ng-change="resetPage()" ng-model-options="{ debounce: debounceTime }">
                </div>
                <div class="form-item">
                    <label for="color">Colors</label>
                    <br>
                    <select id="color" ng-model="search.colors" ng-change="resetPage()">
                        <option ng-repeat="x in colors" value="{{x.value}}">{{x.display}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-item">
                    <label for="rules">Rules</label>
                    <br>
                    <input id="rules" placeholder="Search oracle rules text" class="input-long" ng-model="search.oracle_text" ng-change="resetPage()" ng-model-options="{ debounce: debounceTime }">
                </div>
                <div class="form-item">
                    <label for="sort">Sort</label>
                    <br>
                    <select id="sort" ng-model="sortProp">
                        <option ng-repeat="x in sortOptions" value="{{x.value}}">{{x.display}}</option>
                    </select>
                </div>
                <div class="form-item">
                    <label for="order">Order</label>
                    <br>
                    <select id="order" ng-model="sortOrder">
                        <option ng-repeat="x in sortOrderOptions" value="{{x.value}}">{{x.display}}</option>
                    </select>
                </div>
                <div class="form-item">
                    <button ng-click="reset()">
                        Reset Filters
                    </button>
                </div>
                <div class="form-item">
                    <button ng-click="page = page - 1" ng-disabled="page <= 0">
                        Previous {{itemLimit}} Cards
                    </button>
                </div>
                <div class="form-item">
                    <button ng-click="page = page + 1" ng-disabled="page * itemLimit >= filtered.length - itemLimit">
                        Next {{itemLimit}} Cards
                    </button>
                </div>
                <div class="form-item">
                    {{filtered.length}} Results
                </div>
            </div>
        </div>
        <!-- Main Page -->
        <div class="page-wrapper">
            <!-- Card List -->
            <div class="card-wrapper">
                <div ng-repeat="card in filtered = (cards | filter:search:strict) | orderBy:[sortProp,'colors','cmc','name']:sortOrder | limitTo:itemLimit:page*itemLimit as filtered track by card.name" class="card-container">
                    <div title="{{card.name}}" class="card-title" ng-click="openScry(card.scryfall_uri)" title="Go to Scryfall">
                        {{card.name}}
                        <i class="fa fa-external-link" aria-hidden="true" title="View on Scryfall"></i>
                    </div>
                    <img ng-init="cardImage = card.image_uri" ng-mouseover="cardImage = card.image_uri_hover" ng-mouseout="cardImage = card.image_uri" ng-src="{{cardImage}}" class="card-image" ng-click="addToDeck(card)" title="Add to Deck">
                    <div class="delete-btn" ng-click="deleteCard(card)" title="Delete" ng-show="isEditing"><i class="fa fa-trash-o fa-lg"></i></div>
                </div>
            </div>
            <!-- Messages -->
            <h3 ng-show="cards.length > 0 && filtered.length <= 0">
                No cards found matching that search.
            </h3>

            <h3 ng-show="cards.length <= 0">
                No cards in the format. Add cards above.
            </h3>
            <!-- Deck -->
            <div class="deck-wrapper">
                <div ng-repeat="card in deck track by $index" class="deck-card-container">
                    <img ng-src="{{card.image_uri}}" class="deck-card-image" ng-click="deleteFromDeck($index)">
                </div>
            </div>
        </div>

    </div>
</body>
<script>

</script>
</html>